<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/c9c69fd9b9.js" crossorigin="anonymous"></script>
<link rel="icon" href="https://www.mediafire.com/convkey/8fb4/1lt0fguamyqbvx39g.jpg">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<style>
    <%- include('../nothtml/normalize.css') %>
</style>
<style>
    <%- include('../nothtml/style.css') %>
</style>
<title>
    <%= title %>
</title>