<nav class="menu">
    <a href="/home"><img src="https://www.mediafire.com/convkey/e450/jcoiz7uc3ou559k9g.jpg" class="logo"></a>
    <div class="spacer"></div>
    <ul class="icons-bar">
        <li class="icons-bar__li"><a href="/home"><i class="fas fa-home"></i><br class="jumper">
                <div class="icons-bar__text">Inicio</div>
            </a></li>
        <li class="icons-bar__li"><a href="/post"><i class="fas fa-hashtag"></i><br class="jumper">
                <div class="icons-bar__text">Post</div>
            </a></li>
        <li class="icons-bar__li"><a href="/profile"><i class="fas fa-user"></i><br class="jumper">
                <div class="icons-bar__text">Profile</div>
            </a></li>
        <li class="icons-bar__li"><a href="/login"><i class="fas fa-users"></i><br class="jumper">
                <div class="icons-bar__text">About</div>
            </a></li>
        <li class="icons-bar__li"><a href="#"><i class="fas fa-question-circle"></i><br class="jumper">
                <div class="icons-bar__text">Help</div>
            </a></li>
    </ul>
</nav>