
<%- include('./var.css') %>

/*_________main body_______________*/

.main-body{
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 15vw;
    padding-left: 15vw;
    padding-top: 20px;
}

.mew{
    display: grid;
    grid-template-columns: 60px 1fr;
    border-radius: 30px;
    outline: solid 2px rgb(122, 122, 122);
    margin-bottom: 23px;
}

.profile-icon{
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}

.mew__author{
    display: inline;
    padding-right: 5px;
}

.mew__id{
    display: inline;
    padding: 5px;
}
.id-link{
    color: rgb(0, 140, 255);
}

.mew__date{
    display: inline;
    padding: 5px;
}

.mew__type{
    display: block;
    font-style: italic;
    padding-left: 10px;
    padding-bottom: 3px;
}

.mew-content{
    display: block;
}

.mew-options{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mew-options *{
    display: grid;
    grid-template-columns: 20px 1fr;
}